# Week 01 - Flujos con riesgo y rentabilidad

In [1]:
from toolkit import *
pd.set_option('display.precision', 2)

* Inversión = 480
* Flujo 1 = 125
* Tasa de crecimiento = 10%

In [2]:
c = Case.Make(base=480, boot=125, ratio=0.1)
c.Relength(5)
c.AsDF

     base
0  125.00
1  137.50
2  151.25
3  166.38
4  183.01

In [3]:
c.Leveling(-.2, .2)
c.AsDF

     base  -20.00%  20.00%
0  125.00   100.00  150.00
1  137.50   110.00  165.00
2  151.25   121.00  181.50
3  166.38   133.10  199.65
4  183.01   146.41  219.62

In [4]:
cs = Cases.Make().Add("construcción", 1000, 1000, 0)